@import url('https://api.fonts.coollabs.io/css2?family=Comic+Relief:wght@400;700&family=Noto+Emoji:wght@300..700&display=swap');
p {
    color: #FFFFFF
}
body {
    font-family: "Comic Relief", system-ui;
    background:url('/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #6f0002;
    background-position: center;
}
a:link{
color:Blue;
}
a:visited{
color:Blue;
}
h1 {
color: white;
}
h2 {
color: white;
}