p {
    color: #FFFFFF
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background:url('/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #6f0002;
    background-position: center;
}
a:link, a:visited{
color:white;
text-decoration:none
}
a:link:hover, a:visited:hover {
    text-decoration:underline
}
h1 {
color: white;
}
h2 {
color: white;
}