p {
    color: #FFFFFF
}
body {
    background:url('/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #6f0002;
    background-position: center;
}
a:link{
color:Blue;
}
a:visited{
color:Blue;
}
h1 {
color: white;
}
h2 {
color: white;
}