p {
    color: #FFFFFF
}
body {
    font-family: Arial;
    background:url('/background.png');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #6f0002;
}
a:link{
color:Blue;
}
a:visited{
color:Blue;
}
h1 {
color: white;

}
