p {
    color: #FFFFFF;
    text-shadow: 0 0 10px #0000004f
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background:url('/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #6f0002;
    background-position: center;
}
a:link, a:visited{
color:white;
text-decoration:none
}
[src="https://img.shields.io/youtube/channel/subscribers/UCQGMtOAuEUa0_P0B9Pr-Ffg?style=social"] {
    margin-left: 10px;
    margin-top: 3px;
}
a:link:hover, a:visited:hover {
    text-decoration:underline
}
.container {
    background: linear-gradient( #ffffff95, #ffffff18);
    border: 1px solid #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.topbar {
    background: #ffffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
[href="https://irononschq.pages.dev/"] > p {
    color: #000!important
}
.box {
    box-shadow: 0 0 10px #00000068;
    border-radius: 10px;
}
h1 {
color: white;
text-shadow: 0 0 10px #0000004f
}
h2 {
color: white;
text-shadow: 0 0 10px #0000004f
}