.topbar {
    background: #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}
.logocontainer {
    width: 960px;
    height: 78px;
      margin-bottom: 35px;
      margin-left: auto;
    margin-right: auto;
}
[src="/website_logo.png"] {
    margin: 0 20px 0 0;
    height: 64px;
    width: 520px;
    padding-top: 14px;
}
body {
    color: #13B7F8;
  font-size: 13px;
  font-weight: bold;
  font-family: "Shantell Sans", cursive;
}
.footer a:link, .footer a:visited {
    color: #C2C2C2;
    font: normal 11px Arial, Helvetica, Sans-serif;
}
.footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.container {
    margin-top: 100px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
a:link, a:visited {
    color: #69C;
    font-family: Arial, Helvetica, Sans-serif;
    text-decoration: none;
}
a:link:hover, a:visited:hover {
    color: #369;
}
a {
    font-size: 15px
}